!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Conversational Development"

    %link{ :rel=> "shortcut icon", :type => "image/png", :href => "images/icon.png"}

    :plain
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <link rel="stylesheet" href="/css/index.css">
      <link rel="stylesheet" href="/css/likely.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <script src="/js/likely.js"></script>

      <meta property="og:image" content="images/evolution.png" />

    = partial "ga"

    -#= javascript_include_tag "https://code.jquery.com/jquery-2.1.4.min.js"
    -#= javascript_include_tag  "all", "bootstrap.min", "likely"

    -#= partial "twitter_card"

  %body{:class => page_classes}
    .container{:style => ""}

      %h1.primary-logo
        %a.primary-logo-link(href="/")
          %span.primary-logo-conv-piece> Conv
          %span.primary-logo-dev-piece Dev
      = yield

    %br
    %br

    %footer.primary-footer
      :plain
        <!-- http://ilyabirman.net/projects/likely/ -->
        <div class="likely" data-url="http://conversationaldevelopment.com" data-title="Conversational Development - the evolution of Agile">
          <div class="twitter">Tweet</div>
          <div class="facebook">Share</div>
          <div class="linkedin">Link</div>
        </div>
      %br
      %br
      Look for
      %a(href="https://twitter.com/search?q=%23convdev")#ConvDev
      on Twitter

      %section.primary-footer-contributing-note
        This page is generated from a
        %a(href="https://gitlab.com/gitlab-com/conversationaldevelopment-com")public repo on GitLab.com
        — merge requests with improvements are
        %a(href="https://gitlab.com/gitlab-com/conversationaldevelopment-com/merge_requests") very welcome.
