
a {
  color: #ef5b35;
}

.primary-logo {
  text-align: center;
  font-size: 120px;
}

.primary-logo-link {
  color: inherit;
  cursor: pointer;
}

.primary-logo-link:hover,
.primary-logo-link:focus {
  color: inherit;
}

.primary-logo-conv-piece {
  color: #ef5b35;
  font-weight: normal;
}

.primary-logo-dev-piece {
  font-weight: bold;
}




.priciple-heading {
  margin-left: 1em;
}

.principle-heading-link {
  display: flex;
  align-items: center;

  color: inherit;
}

.principle-heading-link:hover,
.principle-heading-link:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.principle-heading-link:hover .priciple-heading-number-bubble,
.principle-heading-link:focus .priciple-heading-number-bubble {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.principle-heading-link:hover .principle-heading-text,
.principle-heading-link:focus .principle-heading-text {
  text-decoration: underline;
}

.priciple-heading-number-bubble {
  flex-shrink: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 3em;
  height: 3em;
  margin-right: .75em;

  background-color: #c6cacf;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;

  transition:
    transform .2s ease,
    box-shadow .2s ease;
}

.priciple-heading-number-bubble:before {
  content: 'Principle';
  display: block;

  color: #f0f2f5;
  font-size: .35em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.principle-heading-emphasis {
  color: #ef5b35;
}


.read-on-link {
  display: inline-block;
  margin-top: 1em;
  padding: 1em 1.5em;
  background-color: #d05131;
  border-radius: 8px;

  color: #ffffff;
  font-size: 1.75rem;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

.read-on-link:before {
  content: 'Read on,';
  color: #4d1e12;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
}

.read-on-link:after {
  content: '→';
  display: inline-block;

  transition:
    transform 0.5s ease,
    padding-right 0.5s ease;
}

.read-on-link:hover:after,
.read-on-link:focus:after {
  transform: translateX(.25em);
  padding-right: 1em;
}

.read-on-link:hover,
.read-on-link:focus {
  background-color: #c34d2f;

  color: #f0f2f5;
  text-decoration: none;
}



.maturity-model-table {

}

.maturity-model-table td {
  border-top: 1px solid #c6cacf;
  border-left: 1px solid #c6cacf;
}

.maturity-model-table thead td {
  background-color: #d05131;
  color: #f0f2f5;
  text-align: center;
}

.maturity-model-table thead td:first-child {
  text-align: left;
}

.maturity-model-table th:first-child {
  min-width: 18vw;
  background-color: #d6dae2;
  border-top: 1px solid #e4e7ed;
}

.maturity-model-table tbody td:nth-child(even) {
  background-color: rgba(220, 224, 229, 0.05);
}



.primary-footer {
  padding-top: 0.3em;

  background-color: #d05131;

  color: #e4e7ed;
  text-align: center;
}
.primary-footer a {
  color: inherit;
  border-bottom: 1px solid;
}

.primary-footer a:hover,
.primary-footer a:focus {
  color: #c6cacf;
  text-decoration: none;
}

.primary-footer-contributing-note {
  margin-top: 2em;
  padding-top: .5em;
  padding-bottom: .5em;

  background-color: #c34d2f;
}
