%h2 Principle #3: Invite everyone to the conversation

%p.hero Description: Instead of locking conversation on per-stage, per team, or per-speciality principle, leave the doors as open as possible.

.row
  .col-md-6
    %p Closed doors:
    %ul
      %li SVN(the only way to make a patch was to give someone write access on the repo )
      %li Not using pull/merge requests
      %li Each department has its own set of tools
    =img("/images/closed-doors.png")

  .col-md-6
    %p Open doors:
    %ul
      %li Open repository, documentation & issue tracker
      %li Chat in shared channels
      %li Open source parts of your code
    =img("/images/open-doors.png")



%h3 Howto
%ul
  %li Embrace principle of “Written-first online conversations”. Lots of companies might still rely on face-to-face conversations, but that doesn't allow people to contribute.
  %li Use <a href="https://en.wikipedia.org/wiki/Collaborative_real-time_editor" target="_blank">realtime editing tool</a> like Google Docs for meetings. Everyone can add to agenda, everyone can add to notes, everyone is on the same page, everyone can see what was discussed, immediately see followup items.
  %li Prevent "Not Invented Here" syndrome  by practicing Innersourcing: make it possible for the rest of the organization to contribute.
  %li If you can make something public, make it public!

%h3 Challenges
%p
  People should be able to argue with solutions, but more people and opinions in the issue tracker means consensus is harder and no longer a goal.

%p
  There are two characteristics of a good conversation: <strong>directness and kindness</strong>. Argue with solution, not a person. On the other side: you are not your code.

%p
  Person that does the work or their boss decides on how open the conversation should be. If people don't get used to directness and strive for consensus, working out in the open will slow things down .


%h3 Benefits
%ul
  %li Increases reuse of solutions, prevents duplicate work
  %li Increases shared knowledge
  %li Ability to scale your organization by going remote & async


%a.read-on-link(href="/results-oriented")
  Principle #4: Result oriented conversations
