%section#maturity-model
  %h2 Maturity model

  %p Depending on your business and goals, you can be satisfied with any kind of process. It is possible to use FTP for collaboration and deployment and be satisfied with it. But obviously the more ambitious your goals are, the more efforts you had to put into automation to reach technical excellence.

  %p The table below should help you identify your processes maturity, possible problems, and potential for growth:

  %table.table.maturity-model-table
    %thead
      %tr
        %td
          %strong Stage
        %td 1
        %td 2
        %td 3
        %td 4
        %td 5
    %tbody
      %tr
        %th Name
        %td Gatekeeping
        %td Cross-team
        %td Integration
        %td Starting
        %td Mature
      %tr
        %th Typical time for idea to production
        %td 1 year
        %td 1 quarter
        %td 1 month
        %td 1 week
        %td 1 day
      %tr
        %th Description
        %td Functional groups are operating independently, Gatekeepers need to sign off for any stage
        %td Conversations happens across teams, SCRUM & Agile
        %td Teams consist of all relevant people, DevOps
        %td Complete flow from idea to production
        %td Teams prioritize and measure speed
      %tr
        %th Tools
        %td SVN, Jira
        %td Pull&nbsp;Requests(GitHub) or Merge&nbsp;Requests(GitLab)
        %td CI/CD/Pipelines: Jenkins/GitLab
        %td Chat/Chatops/IDE
        %td Dashboard/Integrated set of tools
      %tr
        %th Structure
        %td
        %td
        %td Not measuring from idea yet
        %td
        %td Feedback comes from the systems instead of people. Removal of most meetings
      %tr
        %th Problems
        %td
        %td
        %td
        %td
        %td
      %tr
        %th Responsibilities
        %td
        %td
        %td
        %td
        %td
      %tr
        %th Failure modes
        %td Many projects are cancelled before ever reaching production, Lots of time pinging gatekeepers to sign off, many swimlanes.
        %td Sprint is holy but what is made is not what is envisioned
        %td Development is fast when it actually starts, long wait before items get scheduled
        %td
        %td
      %tr
        %th What materials are needed to progress to the next stage
        %td
        %td
        %td
        %td
        %td
      %tr
        %th Organizations in this stage
        %td
        %td
        %td GitLab inc.
        %td
        %td
