%h2 Principle #4: Result oriented conversations

%p.hero Stop measuring abstract things like story points or irrelevant things like hours. Instead proactively look for ways to connect your work to business metrics.

.pictures
  =img("/images/R0.png")

%h3 Howto

%ul
  %li Instead of hours(in Waterfall) or story points(in Scrum) measuring, start measuring whole conversation cycle time(from idea to production)
  %li Move towards measuring impact on your business metrics: think of <abbr title="Annual run rate">AAR</abbr>, <abbr title="Sales accepted lead">SALs</abbr>, <abbr title="Marketing qualified lead">MQLs</abbr>, page views, <abbr title="Net promoter score">NPS</abbr>, <abbr title="Average revenue per user">ARPU</abbr>, etc.
  %li Results should become the most important in performance evaluations.
  %li If you're Remote Only company, you can't compete on hours, so you are naturally forced to focus on another metric.

%p Basically, you get what you measure. The more you measure results, the more results you get.

.pictures
  =img("/images/R1.png")


%a.read-on-link(href="/maturity-model")
  Maturity Model
