%h2 Principle #1: Shorten the conversation cycle

%p.hero
  Start measuring conversation cycle duration from the first discussion of a feature in chat to actual release in production. <br/>
  If you can measure the length of separate stages - that is even better.

.row
  .col-md-6.col-xs-7
    =img("/images/shorten1.png")
  .col-md-6.col-xs-7
    =img("/images/shorten2.png")

%p Use these measurements to reduce cycle time. It is a natural thing to do when you have numbers before the eyes.


%h3 Start working on Minimum Viable Changes
%p
  The first thing to consider is to start working on smaller pieces of functionality. Instead of minimum viable products or minimum viable features, start thinking in terms of Minimum Viable Changes.

.row
  .col-md-2.col-xs-1
    &nbsp;
  .col-md-8.col-xs-8
    =img("/images/mvc.png")
  .col-md-2.col-xs-1
    &nbsp;


%h3
  Benefits of shipping smaller

.row
  .col-md-6.col-xs-6
    for business:
    %ul
      %li More in line with expectations and needs of stakeholders
      %li Easier to coordinate and to reason about
      %li Frequent interactions gather more information
      %li Quicker to respond to market need
      %li Higher predictability

  .col-md-6.col-xs-6
    for developers:
    %ul
      %li Prevents overshooting needs and gold plating
      %li Higher code review quality
      %li Easier to troubleshoot a small release
      %li Less time between idea and feedback gives more sense of progress
      %li Quicker feedback allows you to bind the request and the work to the result
      %li Faster feedback increases motivation

%h3 Include Gatekeepers into conversation

%p
  Think about Gatekeepers who had to approve something before you can ship it: Security review, Operations department, UX check, Translation department, QA testing.

.row
  .col-md-3.col-xs-1
    &nbsp;
  .col-md-6.col-xs-6
    =img("gatekeepers.png")
  .col-md-3.col-xs-1
    &nbsp;

%p
  We often exclude them from the equation, assuming there’s nothing we can do about it. But we usually can. Give early access to your code to security department, make UX guy a part of the team, automate testing and operations, etc.


%h3 List of changes to think about
%ul
  %li Deploy infrequently → Deploy frequently (if it hurts, do it more often)
  %li Multiple changes → Single changes (able to link problems to changes quickly)
  %li Deploy in weekend → Deploy on peak times (prioritize finding problems quickly)
  %li Human integration testing → Automated integration testing (test everything)


%a.read-on-link(href="/thread-conversations")
  Principle #2: Thread the conversations through all stages
