%h2 Principle #2: Thread the conversations through all stages

%p.hero Instead of having multiple non-connected stage-related conversations have one going through all stages so that people who join later during the work could find the roots and restore the full picture.

.row.pictures
  .col-md-1
  .col-md-5
    =img("thread21.png")
    %h4.center
      Before
  .col-md-1
  .col-md-5
    =img("thread22.png")
    %h4.center
      After


%h3 Link everything

%p
  Make sure ideas are linked to issues, issues to merge requests, merge requests to deployments, deployments to monitoring.<br/>

%p
  Traceability is a best practice is many quality frameworks. Ideally, you should be able to go from a change in a graph to the idea in chat.

%p
  In the ideal world you'd be using the same tool for all the stages, so you'll get it for free.

%p
  In reality, you might have a zoo of tools, where each tool is used only at one stage. In this case, it would make sense to put additional efforts to make it possible.<br/><br/>

  The reason for that is that it is the only way to measure the cycle time (and therefore, shorten it) and have result oriented conversations.


%a.read-on-link(href="/invite-everyone")
  Principle #3: Invite everyone to the conversation


:sass
  .center
    text-align: center
